header{
    
    width: 100%;
    background-color: white;
}
.mini-header{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    height: 39px;
}
#mh1{
    width: 40%;
    margin-left: 40px;
    height: 25px;
    margin-bottom: 10px;
}
#mh2{
    color: white;
    width: 60%;
    text-align: end;
    /* margin-right: 50px; */
}
.a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 30px;
}
.a:hover{
    color: palegoldenrod;
}
.a1{
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}
.a1:hover{
    color: palegoldenrod;
}

.main-header{
    display: flex;
    align-items: center;
}

.sites{
    color: black;
    
    padding-left: 16px;
}
#demo{
    padding-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 30px;
}
main{
    padding-top: 100px;
}
.titel2{
    text-align: center;
}
.titel-section2{
    text-align: center;
    font-size: 25px;
}
.form{
    text-align: -webkit-center;
}
.labels{
    display: grid;
}
.divcheck{
    display: inline-flex;
}
.input_question{
    border: 0;
    border-bottom: 1px solid black;
    width: 350px;
}
.button_question{
    border: 0;
    background-color: palegoldenrod;
    width: 350px;
    height: 40px;
    margin-bottom: 30px;
}
.password{
    padding-top: 50px;
    margin-bottom: 40px;
}
.username{
    padding-top: 40px;
}
.check{
    margin-right: 95px;
}
footer{
    display: flex;
    margin-top: 90px;
    border-top: 1px solid black;
    height: 200px;
}
footer .logo{
    width: 25%;
    margin-left: 15px;
    position: relative;
    align-self: center;
}
.colections{
    align-self: center;
}
.footte{
    font-size: 24px;
}
li{
    display: flex;
    font-size: 16px;
    padding: 4px;
}
.fa{
    text-decoration: none;
    color: black;

}
.fa:hover{
    color: #E3B873;
}
.contact-us{
    align-self: center;
    margin-left: 80px;
}

.footnav{
    display: flex;
    justify-content: space-around;
}

.nav{
    float: left;
    width:25%; padding-left: 170px;
    
}
.label1{
    margin: 8px 0 0 20px ;
    font-size: 30px;
    display: none;
}
#toggle{
    display: none;
}
@media (max-width:1000px) {
    .label1{
        display: block;
        cursor: pointer;

    }
    #toggle:checked + header{
        display: none;
    }
    header{
        
        height: 400px;
        padding-bottom: 70px;
    }
    .mini-header{
        display: grid;
        height: 50%;
        font-size: 20px;
        width: 100%;
    }
    #mh1{
        padding-left: 100px;
    }
    #mh2{
        display: grid;
        margin-right: 0%;
    }
    .main-header{
        height: 50%;
        display: grid;
    }
    .logo{
        display: none;
    }
    .center{
        padding-left: 210px;
            height: 50%;
            width: 60%;
            text-align: center;
            display: grid;
    }
    .a1{
        font-size: 28px;
    }
    #headernav{
        padding-top: 10px;
        padding-left: 210px;
        height: 50%;
        flex-direction: column-reverse; 
    } 
    .search{
        display: none;
    }
    .footer{
        display: grid;
    }
    .footnav{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .contact-us{
        margin-left: 0%;
    }
    .footdiv3{
     margin-left: 0%;
     margin-top: 30px;
    }
}